@import url(./modern-normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #1a92d3;
  --accent: #facb15;
  --neutral: #e2e8f0;
  --neutral-dark: #636464;
  --neutral-darker: #252626;
  --shadow: 0 2px 3px #63646455;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: var(--neutral);
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
}

/* HEADER */
.header {
  background-color: white;
  padding: 1rem 2rem;

  box-shadow: var(--shadow);
}

.header .status-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header .status-bar .icon {
  fill: var(--neutral-darker);
  height: 1.5rem;
}

.header .status-bar .thumbnail {
  width: 3rem;
  border-radius: 100%;
}

.header .status-bar form {
  flex: 1;
}

.header .status-bar form input[type="search"] {
  appearance: none;
  width: 80%;
  border: none;
  outline: none;
  background-color: var(--neutral);
  border-radius: 100px;
  padding: 0.25rem 1rem;
}

.header .status-bar a,
.header .status-bar a:active,
.header .status-bar a:visited {
    color: var(--neutral-darker);
    text-decoration: none;
    font-weight: 600;

    padding: 0 1rem;
}

.header .status-bar a:hover {
    text-decoration: underline;
}

/* SIDEBAR */
.sidebar {
  color: white;

  background-color: var(--primary);
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: repeat(3, auto) 1fr;
  gap: 3rem;

  padding: 1rem;
}

.sidebar li,
.sidebar .logo {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  gap: 0.5rem;
}

.sidebar .icon {
  fill: white;
  justify-self: center;
}

.sidebar .logo .icon {
  height: 3rem;
}

.sidebar h1 {
  font-size: 1.5rem;
}

.sidebar ul .icon {
  height: 1.5rem;
}

.sidebar li {
  font-weight: 500;
}

.sidebar li + li {
  margin-top: 1rem;
}
